---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/accounts"
    body:
      encoding: UTF-8
      string: '{"account":{"name":"Mikael","accountUrl":"https://www.mhenrixon.com/"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account":{"name":"Mikael","accountUrl":"https:\/\/www.mhenrixon.com\/","createdTimestamp":"2020-07-13T22:10:21-05:00","updatedTimestamp":"2020-07-13T22:10:21-05:00","links":{"notes":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/accounts\/4\/notes","accountCustomFieldData":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/accounts\/4\/accountCustomFieldData","accountContacts":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/accounts\/4\/accountContacts","emailActivities":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/accounts\/4\/emailActivities","contactEmails":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/accounts\/4\/contactEmails"},"id":"4"}}'
  recorded_at: Tue, 14 Jul 2020 03:10:22 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/contacts"
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"mikael@mhenrixon.com","firstName":"Mikael","lastName":"Henriksson","phone":"+491735728523"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"mikael@mhenrixon.com","phone":"+491735728523","firstName":"Mikael","lastName":"Henriksson","email_empty":false,"cdate":"2020-07-13T22:10:22-05:00","udate":"2020-07-13T22:10:22-05:00","orgid":"","orgname":"","links":{"bounceLogs":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/bounceLogs","contactAutomations":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC","contactData":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/contactData","contactGoals":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/contactGoals","contactLists":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/contactLists","contactLogs":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/contactLogs","contactTags":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/contactTags","contactDeals":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/contactDeals","deals":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/deals","fieldValues":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/fieldValues","geoIps":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/geoIps","notes":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/notes","organization":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/organization","plusAppend":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/plusAppend","trackingLogs":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/trackingLogs","scoreValues":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/scoreValues","accountContacts":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/accountContacts","automationEntryCounts":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/contacts\/2912\/automationEntryCounts"},"id":"2912","organization":""}}'
  recorded_at: Tue, 14 Jul 2020 03:10:22 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/accountContacts"
    body:
      encoding: UTF-8
      string: '{"accountContact":{"contact":"2912","account":"4","jobTitle":"Señor
        Developer"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountContact":{"contact":"2912","account":"4","jobTitle":"Se\u00f1or
        Developer","createdTimestamp":"2020-07-13T22:10:22-05:00","updatedTimestamp":"2020-07-13T22:10:22-05:00","links":{"account":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/accountContacts\/4\/account","contact":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/accountContacts\/4\/contact"},"id":"4"}}'
  recorded_at: Tue, 14 Jul 2020 03:10:22 GMT
- request:
    method: get
    uri: "<API_ENDPOINT>/accountContacts"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"accountContacts":[{"account":"4","contact":"2912","jobTitle":"Se\u00f1or
        Developer","createdTimestamp":"2020-07-13T22:10:22-05:00","updatedTimestamp":"2020-07-13T22:10:22-05:00","links":{"account":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/accountContacts\/4\/account","contact":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/accountContacts\/4\/contact"},"id":"4"}],"meta":{"total":"1"}}'
  recorded_at: Tue, 14 Jul 2020 03:10:23 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/accounts/4"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 14 Jul 2020 03:10:23 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/accountContacts/4"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"No Result found for CustomerAccountSubscriber with id 4"}'
  recorded_at: Tue, 14 Jul 2020 03:10:24 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/contacts/2912"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 14 Jul 2020 03:10:24 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/accounts/4"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"No Result found for CustomerAccount with id 4"}'
  recorded_at: Tue, 14 Jul 2020 03:10:24 GMT
recorded_with: VCR 5.1.0
