---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://mhenrixon.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/mhenrixon.com","sender_reminder":"This
        is why we are sending you this","cdate":"2020-05-24T05:17:12-05:00","udate":"2020-05-24T05:17:12-05:00","links":{"contactGoalLists":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/lists\/2\/contactGoalLists","user":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/lists\/2\/user","addressLists":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/lists\/2\/addressLists"},"id":"2"}}'
  recorded_at: Sun, 24 May 2020 10:17:12 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/lists/2"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sun, 24 May 2020 10:17:13 GMT
recorded_with: VCR 5.1.0
