---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://mhenrixon.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/mhenrixon.com","sender_reminder":"This
        is why we are sending you this","cdate":"2020-07-13T22:13:45-05:00","udate":"2020-07-13T22:13:45-05:00","links":{"contactGoalLists":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/lists\/1\/contactGoalLists","user":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/lists\/1\/user","addressLists":"https:\/\/camplify1589433994.api-us1.com\/api\/3\/lists\/1\/addressLists"},"id":"1"}}'
  recorded_at: Tue, 14 Jul 2020 03:13:45 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/lists/1"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 14 Jul 2020 03:13:46 GMT
recorded_with: VCR 5.1.0
